@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

body {
    background-color: #0c0c0c;
    background-image: url(../img/background.png);
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}



/*** INICIO PARTE 1 DO SITE ***/
/*** CABECALHO ***/



header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.cabecalho {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.logo span {
    color: var(--color-logo);
}

.menu {
    width: 341px;
    height: 24px;
    text-align: center;
}

.menu a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.menu a:hover {
    border-bottom: 2px solid var(--color-logo);
}

.botao-1 button {
    width: 230px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
}



/*** FIM CABECALHO ***/



/*** MAIN 1 ***/
.main-1 {
    width: 100%;
    height: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container-main-1 {
    width: 90%;
    height: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao-main-1 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.descricao-main-1 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.img-main-1 {
    display: flex;
}

.spans-main-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.titulo-main-1 {
    width: 40%;
    height: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}

.titulo-main-1 span {
    color: var(--color-logo);
}




/*** FIM MAIN 1 ***/


/*** GALERIA ***/


.galeria {
    width: 100%;
    height: 457px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-galeria-1 {
    width: 90%;
    height: 198px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quadrado {
    width: 20%;
    height: 198px;
}

.quadrado img {
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

/*** FIM GALERIA ***/


/*** MAIN 2 ***/

.main-2 {
    width: 100%;
    height: 660px;
    background-color: var(--body-background);
    display: flex;
    border-bottom: 1px solid #5a5757;
}

.container-1-main-2 {
    width: 20%;
    height: 100%;
    border-right: 1px solid #5A5757;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-numeros{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.numeros h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}

.numeros span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
}

.container-2-main-2 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-3-main-2 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.textos-container-3 {
    width: 40%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.textos-container-3 p {
    margin-bottom: 50px;
}

.textos-container-3 a {
    color: var(--color-logo);
    text-decoration: underline;
}

.textos-container-3 span a {
    color: var(--text-color);
    text-decoration: underline;
}

.container-4-main-2 {
    width: 100%;
    height: 40%;
}

.container-4-main-2 img {
    width: 100%;
    height: 100%;
}


/*** FIM MAIN 2 ***/


/*** MAIN 3 ***/

.main-3 {
    width: 100%;
    height: 1245px;
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main-3 {
    width: 90%;
    height: 937px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-main-3  {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: var(--text-color);
}

.titulo-main-3 span {
    color: #ff5b50;
}

.container-artistas {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.artistas-1 {
    width: 50%;
    height: 100%;
    border-right: 0.5px solid #5a5757;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.artistas-2 {
    width: 50%;
    height: 100%;
    border-left: 0.5px solid #5a5757;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.arte {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-arte {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.subtitulo-arte {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
}

.subtitulo-arte span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FF5B50;
}

.arte-2 {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*** FIM MAIN 3 ***/

/*** MAIN 4 ***/


.main-4 {
    width: 100%;
    height: 930px;
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main-4 {
    width: 90%;
    height: 682px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-main-4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: var(--color-logo);
}

.titulo-main-4 span {
    color: #FFFFFF;
}

.artistas-main-4 {
    width: 100%;
    height: 411px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artistas-container {
    width: 100%;
    height: 36.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloco-artistas {
    width: 30%;
    height: 100%;
    background-color: var(--card-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bloco-artistas:hover {
    background-color: var(--color-logo);
    color: #FFFFFF;
    cursor: pointer;
}

.descricao-artista p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.descricao-artista span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FF5B50;
}

.footer-main-4 span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
    margin-bottom: 50px;
}


/*** FIM MAIN 4 ***/


/*** FOOTER ***/

.footer {
    width: 100%;
    height: 709px;
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
}

.header-footer{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #5a5757;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.header-footer h2 {
    margin-left: 80px;    
}

.header-footer span {
    color: var(--color-logo);
}

.quadrado-arrow {
    margin-right: 80px;
    width: 80px;
    height: 80px;
    background-color: var(--color-logo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #5a5757;
    display: flex;
}

.form-main-footer {
    width: 35%;
    height: 100%;
    border-right: 1px solid #5a5757;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-form {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.titulo-form span {
    color: var(--color-logo);
}

.input-form input{
    width: 280px;
    height: 66px;
    background: #0D0D0D;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    text-align: center;
}

.input-form button {
    width: 122px;
    height: 66px;
    background: #FFFFFF;
    border: none;
    position: relative;
    top: 0px;
    left: -5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
}

.links-main-footer {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.li-main-footer {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.lis ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
}

.lis li:hover {
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.footer-footer {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    margin-left: 80px;
}

.redes-socias-img {
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;    
}
